// Colors
$light: #f7f7f7;
$light-hover: #e6e6e6;
$dark-gray: #333;
$blue: #1c88bf;
$dark-blue: #364051;
$main-theme: #364051;
$orange: #DF4225;
$button-bg: #1c88bf;
$button-bg-hover: #4CAF50;
$green: #4CAF50;
$gray: #666;
//Font Size 
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;
$font-size-xlarge: 2.2rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;